<!DOCTYPE html>
<html>
<head>
</head>
<body>
  {% comment %}
    This is the start of a liquid page. Not my favorite templating language.
    But still a great example of what's out there.
  {% end comment %}
  
  {% content %}
    <h1>{{product.title}}</h1>
    <p>{{product.description}}</p>
  {% end content %}
  
  {% if blog %}
    <div>
      <h2>{{blog.title}}</h2>
      <div>{{blog.content}}</div>
    </div>
  {% endif %}
  
  {% include 'cart.js' %}
  
  {% footer %}
    <p>{{info.copyright}}</p>
    <p>{{info.address}}</p>
  {% end footer %}
  
</body>  
</html>  
