body {
	font-size: 100%;
	line-height: 1;
	margin: 0.65rem;
	padding: 0.35rem;
	background-color: #F1FAF6;
	font-weight: 400;
}

li {
	list-style-type: none;
	margin-left: 2rem;
}
.container {
	width: 53.75rem;
	background-color: #FFFFFF;
}
