body {
	border: 0;
	font-size: 100%;
	line-height: 1;
	margin: 0.65rem;
	padding: 0.35rem;
	background-color: #F1FAF6;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 400;
}
ol, ul {
	list-style: none;
}

li {
	list-style-type: none;
	margin-left: 2rem;
}
.container {
	width: 53.75rem;
	background-color: #FFFFFF;
}
.container p {
	font-size: 1.1rem;
	color: #666666;
}
